<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Quem sou eu?</title>

    <!-- Importar fontes depois -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link rel="icon" href="../assets/icon.svg">
    <link href="../css/dudu.css" rel="stylesheet" >
    <link href="../css/animated-bg.css" rel="stylesheet" >
    <link href="../css/menu.css" rel="stylesheet" >
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <link href="../css/table-style.css" rel="stylesheet">
</head>

<body>
  <div class="tableContent">
    <table class="table table-dark tableMain">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Pessoa</th>
          <th scope="col">Número de Dicas</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Edgar</td>
          <td>5</td>
          <td>
            <button type="button" class="btn btn-outline-light play">Ver</button>
            <button type="button" class="btn btn-outline-light play">Editar</button>
            <button type="button" class="btn btn-outline-light play">Remover</button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Diogo</td>
          <td>5</td>
          <td>
            <button type="button" class="btn btn-outline-light play">Ver</button>
            <button type="button" class="btn btn-outline-light play">Editar</button>
            <button type="button" class="btn btn-outline-light play">Remover</button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>José</td>
          <td>5</td>
          <td>
            <button type="button" class="btn btn-outline-light play">Ver</button>
            <button type="button" class="btn btn-outline-light play">Editar</button>
            <button type="button" class="btn btn-outline-light play">Remover</button>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table table-dark tableDescription">
      <thead>
        <tr>
          <th>NomeDaPessoa</th>
        </tr>
        <tr>
          <th scope="col">Número</th>
          <th scope="col">Dica</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>É professor</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Dá aula na FEELT</td>
        </tr>
      </tbody>
    </table>
  </div>

    <div class="menu">
      <a href="../index.html" class="submenu-button-link">
        <label class="menu-button">
          <div class="label">
              <span>
              voltar
              </span>
          </div>
        </label>
      </a>
    </div>

    <div class="footer">
      <div class="">
        <span>Copyright &copy; Eduardo Teranisi 2022</span>
      </div>
    </div>
  
  <!-- Animated Background -->
    <div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
    </div>

</body>

</html>